:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
--white:hsl(0, 0%, 100%);
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width:1024px) {
  body::-webkit-scrollbar{
    background-color: var(--Light-Blue);
    width: 7px;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--Strong-Cyan);
    border-radius: 5px;
  }
}
.header{
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
}
@media screen and (min-width:1024px) {
  .header{
    background-image: url('../images/bg-header-desktop.png');
  }
}
.header__img{
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
 transform: translateY(50%);
}
/* @media screen and (min-width:1024px) {
  .header__img{
    transform: translateY(100%);
  } */

.title{
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  font-size: 1.5rem;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .title{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--Grayish-Blue);
  font-weight: 700;
}
@media screen and (min-width:1024px) {
  .info{
    width: 60%;
  }
  .left{
    margin: 0;
  }
  .text--left{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
.button{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  color: var(--white);
  font-weight: 700;
  box-shadow: 2px 3px 7px rgb(0 0 0 /0.25);
}
@media screen and (min-width:1024px) {
  .button{
    width: 200px;
    margin: 0;
  }
  .buttons{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button--green{
  background-color: var(--Strong-Cyan);
  margin-bottom: 20px;
  margin-right: 20px;
}
.button--purple{
  background-color: var(--Light-Blue);
}
@media screen and (min-width:1024px) {
  .button--green{
    margin-bottom: 0;
  }
}
.main{
  margin-top: 50px;
}
.feature{
  margin-top: 50px;
}
@media screen and (min-width:1024px) {
  .feature{
    margin-top: 160px;
    display: flex;
    align-items: center;
  }
}
.feature__img,
.access__img{
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:1024px) {
  .feature__img{
    transform: translateX(-20%);
  }
}
.feature__title{
  color: var(--Dark-Grayish-Blue);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.access{
  margin-top: 100px;
}
@media screen and (min-width:1024px) {
  .cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.card__img{
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.card__title{
  text-align: center;
  color: var(--Dark-Grayish-Blue);
  font-size: 1.5rem;
  font-weight: 700;
}
.card__info{
  font-weight: 400;
}
.images{
  height: 400px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width:1024px) {
  .images{
    flex-direction: row;
  }
}
.clipboard{
  margin-top: 100px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 4em;
  padding-top: 2em;
  background-color: #eee;
}
.footer__img{
  width: 50px;
}
.footer__menu{
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width:1024px) {
  .footer{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }
  .footer__menu{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
  }
  .footer__item{
    width: 150px;
  }
  .footer__img{
    cursor: pointer;
  }
}
.footer__nav{
  text-align: center;
}

.footer__link{
  text-decoration: none;
  color: var(--Grayish-Blue);
}
.footer__social{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width:1024px) {
  .footer__social{
    width: 10%;
  }
  .footer__link:hover{
    color: var(--Dark-Grayish-Blue);
  }
}
.fab{
  color: var(--Dark-Grayish-Blue);
  font-size: 1.4rem;
}
@media screen and (min-width:1024px) {
  .fab:hover{
    cursor: pointer;
    color: var(--Strong-Cyan);
  }
}