:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
--white:hsl(0, 0%, 100%);
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.header{
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
}
.header__img{
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
 transform: translateY(50%);
}
.title{
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  font-size: 1.5rem;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}
.info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--Grayish-Blue);
  font-weight: 700;
}
.button{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  color: var(--white);
  font-weight: 700;
  box-shadow: 2px 3px 7px rgb(0 0 0 /0.25);
}
.button--green{
  background-color: var(--Strong-Cyan);
  margin-bottom: 20px;
}
.button--purple{
  background-color: var(--Light-Blue);
}
.main{
  margin-top: 50px;
}
.feature{
  margin-top: 50px;
}
.feature__img,
.access__img{
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.feature__title{
  color: var(--Dark-Grayish-Blue);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.access{
  margin-top: 100px;
}
.card__img{
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.card__title{
  text-align: center;
  color: var(--Dark-Grayish-Blue);
  font-size: 1.5rem;
  font-weight: 700;
}
.card__info{
  font-weight: 400;
}
.images{
  height: 400px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.clipboard{
  margin-top: 100px;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 4em;
  padding-top: 2em;
  background-color: #eee;
}
.footer__img{
  width: 50px;
}
.footer__menu{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}
.footer__nav{
  width: 100%;
  text-align: center;
}
.footer__link{
  text-decoration: none;
  color: var(--Grayish-Blue);
}
.footer__social{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fab{
  color: var(--Dark-Grayish-Blue);
  font-size: 1.4rem;
}