:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
--white:hsl(0, 0%, 100%);
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.header{
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
}
.header__img{
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
 transform: translateY(50%);
}
.header__title,
.main__title{
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  font-size: 1.5rem;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
}
.header__info,
.main__info{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--Grayish-Blue);
}
.button{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  color: var(--white);
  font-weight: 700;
  box-shadow: 2px 3px 7px rgb(0 0 0 /0.25);
}
.button--green{
  background-color: var(--Strong-Cyan);
  margin-bottom: 20px;
}
.button--purple{
  background-color: var(--Light-Blue);
}
.main{
  margin-top: 50px;
}
.feature{
  margin-top: 50px;
}